@inherits LayoutComponentBase
<Header />
<div class="page mt-24">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
<Footer />
<ScrollToTopButton />
<CloudZenChatbot />
