@using CloudZen.Shared
@inherits LayoutComponentBase
<Header />
<div class="page pt-24">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<Footer />
