@page "/"
@using CloudZen.Shared

<div class="min-h-screen flex flex-col bg-gray-50">
    <main class="flex-1 flex flex-col gap-12 md:gap-20">
        <section class="container mx-auto px-4">
            <Hero />
        </section>
        <section class="container mx-auto px-4">
            <Mission />
        </section>
        <section class="container mx-auto px-4">
            <ValueProposition />
        </section>
        <section class="container mx-auto px-4">
            <Services />
        </section>
        <section class="container mx-auto px-4">
            <CaseStudies />
        </section>
        <section class="container mx-auto px-4">
            <Testimonials />
        </section>
        <section class="container mx-auto px-4">
            <CTA />
        </section>
        <section class="container mx-auto px-4 pb-12">
            <ContactForm />
        </section>
    </main>
    <Footer />
</div>
